{% extends "layout.html" %}
{% block content %}
  <!--<div class="jumbo">
    <h2>enter a phrase in english</h2>
    <form action="/query" method="get">
		<input type="text" name="original" placeholder="I will eat rice."></input>
	</form>

  </div>-->


<div class="title"><strong>About</strong></div>

<div style="margin:0 auto;width:40%;">EasyTranslate was made with the idea that you should be able to enter a phrase in english and get a reasonable, intuitive translation in return.It is ideal for students who are just starting to learn a new language. Sometimes the easiest way to learn is by immersion. In this way, our users can always come back to this site if they forgot something or if they want to learn something entirely new! We hope you enjoy our product&nbsp;and share it with fellow language learners! 

Currently, the only service available is English to Chinese. We are working to bring you a wide array of services. Since this project is still in Beta, we would appreciate any and all feedback from our users. Specifically, please notify us if a translation is not the translation you wanted or if it's incorrect. As well, if you speak either Spanish or Korean, please take a moment to fill out our brief quiz. Your cooperation will help us expand and allow us to incorporate Spanish and Korean translation services as soon as possible. Any comments or feedback should be directed at: dychu@ucdavis.edu. Thank you for your involvement.   

Attributions: EasyTranslate was created with the help of english grammar tags via PennTreebank and has a dictionary imported from CEDIAN, a database file based off of CEDICT. We have altered and amended CEDIAN to fit our purposes as neccesary. CEDICT and CEDIAN are both distributed under the Creative Commons License.

The website was designed via Webflow and adapted to accomodate our translator.
 </div>

{% endblock %}


